@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #cacaaf;
  padding: 0 10px;
}

.main {
  width: 90%;
  background: #ffffff;
  margin: 40px auto;
  padding: 35px;
  box-shadow: 2px 2px 5px;
}

.main .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #888870;
  text-transform: uppercase;
  text-align: center;
}

.main .form {
  width: 100%;
}

.main .input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main label {
  margin-bottom: 5px;
}

.main a {
  text-decoration: none;
}

.main input, .main textarea {
  width: 100%;
  outline: none;
  border: 1px solid #888870;
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.main textarea {
  resize: none;
}

.main .term {
  flex-direction: row;
  align-items: center;
}

.main .term input {
  width: auto;
  margin-right: 8px;
}

.main .select {
  position: relative;
  width: 100%;
}

.main .select select {
  width: 100%;
  padding: 4px;
  border-radius: 3px;
}

.button {
  --offset: 2px;
  --border-size: 1px;
  width: 100%;
  display: block;
  position: relative;
  padding: 0.2em 3em;
  appearance: none;
  border: 0;
  background: #cacaaf;
  color: #888870;
  text-transform: uppercase;
  letter-spacing: .9em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
  border-radius: 3px;
}

.button:hover {
  background: #ffffff;
}

.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform .8s ease;
  will-change: transform;
}

.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
  transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
  transform: scaleY(0);
}

.button:active {
  background-color: #cacaaf;
  color: #f5faeb;
}
/*# sourceMappingURL=style.css.map */