@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    display: none;
}

html, body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16;
    
}

@media (min-width: 768px){
    .container{
        display: block;
        max-width: 720px;
    }
}

@media (min-width: 1200px){
    .container{
        display: block;
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container{
        display: block;
        max-width: 1320px;
    }
}

@media (min-width: 1920px){
    .container{
        display: block;
        max-width: 1810px;
    }
    
}

.border {
    border-bottom: 1px solid #cccccc;
}

.navbar-top .border{
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

.d-flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}
.working-hours{
    display: flex;
    align-items: center;
}

.working-hours p{
    margin: 0;
}

.working-hours i{
    margin-right: 0.5rem;
}
.social-icons{
    display: flex;
    list-style: none;
    margin: 0;
}
.social-icons li{
    margin-left: 1rem;
}
.navbar-top a{
    color: #2BAAEC;
    font-size: 0.8rem;
}
.navbar-top a:hover{
       color: #25E6C8;
}


.home-contact{
    align-items: center;
    padding: 12px 0;
    font-family: Roboto Slab;
}
.home-contact .border{
    border-bottom: 1px solid #707070;
}
.home-contact p{
    margin: 0px 15px;
    font-size: 16px ;
}
.blue{
    color: #2BAAEC;
}
a:link{
    text-decoration: none;
}
.content-box{
    background-color: #DEDEDE;
}
.content-1{
    display: flex;
    align-items: center;
    padding-bottom: 0;
    
}
.content-2{
    display: flex;
    margin-top: 3rem;
    padding-bottom: 0;
}
#line-2{
    background-color: #25E6C8;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.text-box{
    margin-left: 5rem;
}
#p-modern{
    font-size: 60px;
    font-family: Roboto Slab;
    line-height: 1.1;
    color: #363636;
    margin: 0;
}
#p-description{
    font-size: 18px;
    font-family: Roboto;
    color: #626262;

}
.box {
    box-sizing: border-box;
    margin: 0;  
    text-align: center;
    background: #FFFFFF;
}
.square-par-title p{
    font-size: 24px;
    font-family: Roboto Slab;
    color: #363636;
}
.square-par-description p{
    font-size: 18px;
    font-family: Roboto;
    padding: 0.5rem 2rem;
    color: #626262;
}
.box img{
    height: 150px;
    margin-top: 3rem;
    
}
#our-services{
    font-size: 40px;
    color: #363636;
    font-family: Roboto Slab;
}



.grid{ 
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, auto); 
        grid-template-rows: repeat(6, auto);
    justify-content: center;
    padding-top: 2.5rem;
    
    gap: 1rem;   
}
.grid-group{
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #F7F7F7;
}
.line{
    width: 400px;
    background-color: #25E6C8;
}

.appointment-parent{
    background-color: #2BAAEC;
    margin-bottom: 0;
}
.appointment-parent .container{
    margin-bottom: 0;
}
.appointment{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.appointment button{
    background-color: #FFFFFF;
    color: #2BAAEC;
    font-weight: bold;
    font-family: Roboto;
    height: 2rem;
    padding: 0 2rem;
    border: none;
    border-radius: 5px;   
}
.appointment p{
    color: #FFFFFF;
    font-family: Roboto Slab;
    font-size: 30px;
}

.footer {
    background-color: #267ead;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: #F3FBFF;
    
  }
@media (min-width: 768px){
    .grid{
        display: grid;
        max-width: 720px;  
        grid-template-columns: repeat(2, 420px); 
        grid-template-rows: repeat(3, 420px);        
    }
    .box img{
        height: 120px;
    }
}
@media (min-width: 1200px){
    .grid{
        display: grid;
        max-width: 1140px;  
        grid-template-columns: repeat(3, 400px); 
        grid-template-rows: repeat(2, 400px);     
    }
    .line{
        width: 430px;
    }
}
@media (min-width: 1400px){
    .grid{
        display: grid;
        max-width: 1320px; 
        grid-template-columns: repeat(3, 430px); 
        grid-template-rows: repeat(2, 430px);  

    }
}
@media (min-width: 1920px){
    .grid{
        display: grid;
        max-width: 1810px; 
        grid-template-columns: repeat(3, 530px); 
        grid-template-rows: repeat(2, 530px);     
    }
    .box img{
        height: 200px;
    }
    .square-par-title p{
        font-size: 28px;
    }
    .square-par-description p{
        font-size: 22px;
    }
    .line{
        width: 550px;
    }
}



