@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

html, body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16;
    
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}

@media (min-width: 1920px){
    .container{
        max-width: 1810px;
    }
}

.border {
    border-bottom: 1px solid #cccccc;
}

.navbar-top{
    display: none;
    
    font-size: 16px;
    padding: 12px 0;  
}
.navbar-top .border{
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

.d-flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}
.working-hours{
    display: flex;
    align-items: center;
}

.working-hours p{
    margin: 0;
}

.working-hours i{
    margin-right: 0.5rem;
}
.social-icons{
    display: flex;
    list-style: none;
    margin: 0;
}
.social-icons li{
    margin-left: 1rem;
}
.navbar-top a{
    color: #2BAAEC;
    font-size: 0.8rem;
}
.navbar-top a:hover{
    color: #25E6C8;
}

@media (min-width: 600px){
    .navbar-top{
        display: block;
    }
}
.home-contact{
    align-items: center;
    padding: 12px 0;
    font-family: Roboto Slab;
}
.home-contact .border{
    border-bottom: 1px solid #707070;
}
.home-contact p{
    margin: 0px 15px;
    font-size: 16px ;
}
.blue{
    color: #2BAAEC;
}
a:link{
    text-decoration: none;
}

.box {
    box-sizing: border-box;
    margin: 0;  
    padding: 1rem;
    text-align: center;
}
.square-par-title p{
    font-size: 24px;
    font-family: Roboto Slab;
}
.square-par-description p{
    font-size: 18px;
    font-family: Roboto;
    padding: 0.5rem 2rem;
}
.box img{
    height: 9rem;
    
}

#box-1 {background: rgb(173, 126, 126);}
#box-2 {background: rgb(117, 107, 107);}
#box-3 {background: rgb(104, 94, 94);}
#box-4 {background: rgb(133, 108, 108);}
#box-5 {background: rgb(75, 55, 55);}
#box-6 {background: rgb(112, 108, 108);}


.grid{ 
    padding-top: 8rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, auto); 
        grid-template-rows: repeat(6, auto);
    justify-content: center;
    
    gap: 1rem;
    
}
@media (min-width: 768px){
    .grid{
        display: grid;
        max-width: 720px;  
        grid-template-columns: repeat(2, 370px); 
        grid-template-rows: repeat(3, 370px); 
        
         
    }
}
@media (min-width: 1200px){
    .grid{
        display: grid;
        max-width: 1140px;  
        grid-template-columns: repeat(3, 370px); 
        grid-template-rows: repeat(2, 370px);     
        
    }
}
@media (min-width: 1400px){
    .grid{
        display: grid;
        max-width: 1320px; 
        grid-template-columns: repeat(3, 430px); 
        grid-template-rows: repeat(2, 430px);  

    }
}
@media (min-width: 1920px){
    .grid{
        display: grid;
        max-width: 1810px; 
        grid-template-columns: repeat(3, 550px); 
        grid-template-rows: repeat(2, 550px);  
        
        
    }
}



